body {
	background-color: #FFEC9F;
	font-family: sans-serif;
	width: 1200px;
}

header {
	height: 200px;
}

.vlaglist{
	align: center;
}

.vlaglist h1{
	color: white;
	text-align: center;
}

.vlaglist ul{
	list-style-type: none;
	margin-left: 15%;
	
}

.vlaglist ul li{
	display: inline;
	margin-right: 1em;
}